
<div class="col-lg-12">
  <div class="box">
        <div class="media bb-1 border-fade">
          <img class="avatar avatar-lg" src="avatar/{{imageUser}}" alt="...">
          <div class="media-body">
            <p>
              <strong>{{user}}</strong>
              <div class="fa fa-child float-right dropdown-toggle" data-toggle="dropdown"></div>
              <div class="dropdown-menu dropdown-menu-right">
                 <a class="dropdown-item modifierPoste modifierPoste{{imageId}}" rel="{{imageId}}" style="cursor:pointer">Modifier</a>
                 <a class="dropdown-item supprimerPost supprimerPost{{imageId}}" rel="{{imageId}}" style="cursor:pointer">Supprimer</a>

              </div>
            </p>
          </div>
        </div>

        <div class="box-body">
          <p class="textpostAdded textpostAdded{{imageId}}">{{textPost}}</p>
        </div>

        <div class="row gap-1" data-provide="photoswipe">
          <a class="col-8 checkPostAdded checkPostAdded{{imageId}} checkPostAdded{{iteration}}" rel="{{imageId}}">

          </a>
        </div>

        <div class="box-body py-12">
          <div class="gap-items-4">
            <a class="text-lighter hover-light" style="cursor:pointer" rel="{{imageId}}">
              <i class="fa fa-thumbs-up mr-1"></i> <i class="countLike countLike{{imageId}}">0</i>
            </a>
            <a class="text-lighter hover-light" style="cursor:pointer" rel="{{imageId}}">
              <i class="fa fa-comment mr-1"></i> <i class="countComment countComment{{imageId}}">0</i>
            </a>
          </div>
        </div>

        <form method="post" enctype="multipart/form-data" class="addCommentForm publisher bg-transparent bt-1 border-fade" rel="{{imageId}}">
          <input type="hidden" class="hiddenPostId" value="{{imageId}}">
          <img class="avatar avatar-sm" src="avatar/{{imageUser}}" alt="...">
          <input class="publisher-input commentText addComment{{imageId}}" type="text" placeholder="Ajouter un commentaire" rel="{{imageId}}">
          <span class="publisher-btn file-group">
            <i class="fa fa-camera file-browser"></i>
            <input type="file" class="commentImage commentImage{{imageId}}" id="commentImage" rel="{{imageId}}">

          </span>
          </form>

      </div>
    </div>
